nav{
    background-color: #E5E3C9;
    height: 20px;
    text-align: center;
    width: 100%;
}
ul{
    text-align: center;
    width: 400px;
    display: flex;
    list-style: none;
    margin: auto auto;
    padding-left: 15px;
}
li{

    margin-right: 5px;
    color: black;
    font-weight: bold;
}
