nav{
    background-color: #E5E3C9;
    height: 20px;
}
ul{
    margin: auto auto;
    width: 800px;
    display: flex;
    list-style: none;
}
li{
    margin-right: 30px;
    color: black;
    font-weight: bold;
}
