<form action="" method="post">
    <span>Nombre proveedor que quieres editar</span>
    <input type="text" name="nombre">
    <input type="text" name="nombre">
    <input type="email" name="email">
    <input type="text" name="telefono" maxlength="25">
    <input type="submit" value="Buscar">
</form>
<strong></strong>

<div class="a">

    <table class="default">
      <tr>
    
        <th>Id</th>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th>Teléfono</th>
        <th>Tipo</th>
    
      </tr>
    {% for proveedor in proveedores %}  
      <tr>  
            <td>{{proveedor.id}}</td>
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.correoelectronico}}</td>
            <td>{{proveedor.telefono}}</td>
            <td>{{proveedor.tipoproveedor}}</td> 
      </tr>
     {% endfor %}
    </table>
    
            <div class="form">
                    {% if buscar == 'borrar' %}
                            <h3 class="mb-3 mt-3">Buscar proveedor para eliminar</h3>
                    {% else %}
                            <h3 class="mb-3 mt-3">Buscar proveedor para editar</h3>
                    {% endif %}
    
                    {% for message in app.flashes('exito') %}
                            <div class="alert alert-succes">
                                    {{message}}
                            </div>
                    {% endfor %}
                    {{form_start(form)}}
                    {{form_end(form)}}
            </div>
    </div>

<h6>ID Usuario:</h6>
<p>Nombre:</p>
<p>Correo electrónico:</p>
<p>Teléfono:</p>
<p>Activo:</p>
<p>Tipo proveedor:</p>

<div>
    <a href="">Crear proveedor</a>
    <a href="">Editar proveedor</a>
    <a href="">Eliminar proveedor</a>
    <a href="">Listar proveedores</a>
</div>




<link rel="stylesheet" href="../src/static/css/1.css">

<option value="tipo">
    <select name="" id=""></select>
</option>
->add('nombre',TextType::class , array(
    'label' => 'Nombre: ',
    'attr' => array(
        'value' => $proveedor->getNombre()
    )
))
->add('correoelectronico',EmailType::class,array(
    'label' => 'Correo electrónico: ',
    'attr' => array(
        'value' => $proveedor->getCorreoelectronico()
    )
))
->add('telefono',TextType::class , array(
    'label' => 'Teléfono: ',
    'attr' => array(
        'value' => $proveedor->getTelefono()
    )))
->add('tipoproveedor', EntityType::class,[
    'class'=> TipoProveedor::class,
    'choice_label'=>'nombre',
    ])